body {
    margin: 0;              
    font-size: 16px;
    font-family: monospace;

    min-height: 100vh;
    display: flex;
    flex-direction: column;     
    align-items: center;         
    justify-content: center;     
    background-image: url("./assets/background.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat; 
}

main {
    display: flex;               
    align-items: center;
    justify-content: center;     
    gap: 30px;                   
}


#settings {
    margin: 25px;
}

label {
    display: inline-block;
    margin-bottom: 20px;
}

h4{
        font-weight: normal;

}

#poster {
  position: relative;
  width: 400px;          
  height: 600px;        
  overflow: hidden;
  border: 1px dotted black;
}

#poster-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: normal;
  width: 90%;
  margin: 0;
  pointer-events: none;
  z-index: 2;         
}
#poster-image {
     width: 100%;
  height: 100;
  object-fit: cover;
  display: block;
}

button, select{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 0;
    padding: 3px;
    border:1px solid black;
    outline:none;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
@page {
  size: Letter;
  margin: 1in;            
}


@media print {
  
  #settings,
  h4,
  #print {
    display: none !important;
  }

  body {
    margin: 0;
  }

  main {
    display: block;      
  }

  #poster {
    position: relative;
    width: 4.5in;  
    height: auto ;   
    margin: 0 auto ;  
    border: none t;
    box-shadow: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  #poster-image {
    position: static;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  #poster-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-size: inherit;
    font-weight: 300;
    z-index: 2 ;    
  }
}

@media (max-width: 760px) {
    main {
        flex-direction: column;
        align-items: center;       
        justify-content: center;
    }

    #settings {
        margin: 15px;
    }

    #poster {
        padding: 0;               
        width: 80vw;            
        max-width: 400px;           
        height: auto;             
    }

    #poster-text {
        font-size: 25px;
        font-family: "Codystar";
    }

    #poster-image {
        width: 100%;              
        height: auto;             
        object-fit: cover;
    }
}
.back-btn {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: 0.2s;
}

