* {box-sizing: border=box; margin: 0; padding: 0;}


body {
    font-family:  "IBM Plex Mono", monospace;
    background-image: url("img/home-bg.jpg"); /* change filename to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


.nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 60px;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    z-index: 1000;
}
.nav-left {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.nav right a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    gap: 32px;
    
}

.container {
    max-width: 760px;
    margin: 0 auto;
    padding: 100px 24px 48px;
}

.hero h1 {
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
     margin-top: 150px;
     font-family: "Inter", sans-serif;
}
.hero p {
    color: #444;
    font-size: 16px;
    margin-bottom: 24px;
    text-align: center;
}
.button {
    display: inline-block;
    background: #111;
    color: #fff;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 16px;
   
}

.page-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
}
.mood {
    text-align: center;
    margin-bottom: 56px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}
.mood img {
    width: 100%;
    max-width: 420px;
    height: auto;
    border-radius: 6px;
    margin: 0 auto 10px;
    display: block;
}
.mood h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0;
}
.mood p {
    font-size: 14px;
    color: #555;
}
.about {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}
.about h1 {
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: bold;
}
.about p {
    font-size: 16px;
    color: #333;
    margin-bottom: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
   a{
    text-align:center;
   }
.back-btn {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: 0.2s;
}


   
