body {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
    background-image: url('./background.jpg');
      background-repeat: no-repeat;
       background-size: 100%;
         background-size: cover;
          background-position: center -200px;
          


}
h1{
  font-weight:normal;
  color: white;
  font-size: 20px;
  position: relative;
  top:100px;
}

#record {
  width: 500px;
  transition: transform 0.5s ease;
  cursor: pointer;
    display: block;
  margin: 100px auto 0;
}

.spin {
  animation: spin 3s linear infinite;
  opacity: 0.7;          
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* MOBILE background */
@media (max-width: 600px) {
  body {
    background-image: url("background2.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;  
  }
   h1 {
    font-size: 9vw; 
  }
}
.back-btn {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
}

.back-btn:hover {
  background: black;
  color: white;
  transition: 0.2s;
}

